.main{
    align-content: center;
    margin: 20px;
    padding: 20px;
}
.startBtn{
    display: flex;
    align-self: center;
}
#initialsPrompt{
    width:50%; 
    height:20px; 
    display:flex; 
    align-content:center; 
    justify-content:center;
}